#dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem 4rem;
}

app-service-tile{
  max-width: 15rem;
}

@media screen and (max-width: 610px) {
  app-service-tile{
    max-width: unset;
    width: 100%;
  }
}