:host ::ng-deep .p-button-icon {
  font-size: 1.2rem;
}

.sidebar {
  position: fixed;
  height: 100%;

  background-color: var(--surface-200);
  border-right: 2px solid var(--surface-300);
  padding: 0.5rem;

  button:focus {
    outline: none;
    box-shadow: none;
  }
}

.icon-button {
  width: 2rem;
  height: 2rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  text-align: start;

  button {
    text-align: start;
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    height: auto;
    border-bottom: 2px solid var(--surface-300);
  }
}