:host ::ng-deep .p-card-content {
  display: none;
}

:host ::ng-deep .p-button-label {
  transition-duration: unset;
}

p-card {
  cursor: pointer;
  user-select: none;
}

.card-header {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p-badge{
    align-self: flex-end;
  }

  img {
    width: 30%;
  }
}

.footer {
  display: flex;
  visibility: hidden;
  justify-content: space-evenly;
  column-gap: 1rem;
  width: 100%;
}

p-card:hover .footer {
  visibility: visible;
}

